# IDE and Editor files
.idea/
.vscode/
*.iml
.cursor/

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Java
target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar

# Misc
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
.env

# System Files
.DS_Store
Thumbs.db

# Secret file
application-secret.yml 