<mat-toolbar class="header">
  <div class="header-content">
    <div class="brand" routerLink="/">
      <span class="logo">HB-dev</span>
      <span class="divider">|</span>
      <span class="app-name">Spaced Repetition</span>
    </div>

    <!-- Desktop View -->
    <div class="desktop-menu">
      <ng-container *ngIf="isLoggedIn(); else loginButtons">
        <button mat-button routerLink="/settings">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-button (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </ng-container>
    </div>

    <!-- Mobile Menu -->
    <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-menu-button">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <ng-container *ngIf="isLoggedIn(); else mobileLoginButtons">
        <button mat-menu-item routerLink="/settings">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </ng-container>
    </mat-menu>
  </div>
</mat-toolbar>

<!-- Desktop Login Template -->
<ng-template #loginButtons>
  <button mat-button routerLink="/auth/login">
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </button>
  <button mat-button routerLink="/auth/register">
    <mat-icon>person_add</mat-icon>
    <span>Register</span>
  </button>
</ng-template>

<!-- Mobile Login Template -->
<ng-template #mobileLoginButtons>
  <button mat-menu-item routerLink="/auth/login">
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </button>
  <button mat-menu-item routerLink="/auth/register">
    <mat-icon>person_add</mat-icon>
    <span>Register</span>
  </button>
</ng-template>