.responsive-dialog {
  .mat-mdc-dialog-container {
    padding: 0 !important;
  }

  @media (max-width: 575px) {
    .mat-mdc-dialog-container {
      max-height: 100vh !important;
      height: 100vh !important;
      width: 100vw !important;
      border-radius: 0 !important;
    }
  }
} 